body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--dark-blue);
  color: white;
}

:root {
  --light-blue: #0ea5e9;
  --dark-blue: #0c4a6e;
}

label {
  display: block;
  padding: 1rem;
}

input {
  padding: 0.5rem;
  display: block;
  margin: auto;
  width: 40%;
}

button {
  padding: 0.5rem;
  margin: 1rem;
  color: white;
  background-color: var(--light-blue);
  border: none;
  width: 40%;
  border-radius: 0.5rem;
}
